.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user
        tomo
      .side-bar__header__box__menu
        .side-bar__header__box__menu__new-group
          A
        .side-bar__header__box__menu__edit-user
          B
  .side-bar__groups