- if controller_name != 'sessions'
  = link_to "Log in", new_session_path(resource_name), class: 'btn'
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Sign up", new_registration_path(resource_name), class: 'btn'
  %br/

-#   sharedディレクトリ
-# バージョンが変わっても共通で参照されるディレクトリが格納されるディレクトリです。具体的には、log、public、tmp、vendorディレクトリが格納されます。 capstrano
